.card-summary-container {
  width: 100%;
}

.card-name {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.card-type {
  background-color: #735d2b;
  padding: 0.25rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

.tarot-card {
  width: 100%;
}

.tarot-back {
  background-color: #1E170C;
}

.tarot-back:hover {
  opacity: 80%;
}
