.app-button {
  border: 0.125rem solid #ffffff;
  padding: 0.5rem;
  background-color: #a68b42;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  cursor: url("./../../assets/hand.png"), auto;
}

.app-button:hover {
  background-color: #735d2b;
}

@media (min-width: 768px) {
  .app-button {
    width: 35%;
    margin: 0.5rem;
  }
}
